*{
    margin: 0;
    padding:0;
}
body {
    color: white;
    background: white url("../images/background.jpg") right bottom;
}
.container {
    padding:20px 30px 20px 30px;
}
.jumbotron {
    color:black;
    background: white url("../images/background1.gif") right bottom;
}
.article {
    margin-top: 40px;
}
.headpic {
    width:20px;
    height:20px;
}
.article-tag {
    font-weight: bold;
}
